{% extends "layout.html" %}

{% block head %}
<title> beer taster </title>
{% endblock %}


{% block body %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://nicholasdirienzo.com">About Me</a></li>
        <li><a href="https://github.com/NicholasDiRienzo">beer taster page</a></li>
        <li><a href="http://goo.gl/jxrsb5"> How does beer taster work? <span class="sr-only">(current)</span></a></li>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Background image -->
<body background='/static/img/z.jpg'; height='100%'>

    <!-- <div class='vertical-center'> -->



    <!-- Logo -->
    <div class="row top10bottom2">
      <div class="col-lg-4 col-md-4"></div>

      <div class="col-lg-4 col-md-4 center-block">
        <img class='center-block img-responsive' src="/static/img/zd.jpg"/ max-width='50%';>
      </div>

      <div class="col-lg-4 col-md-4"></div>

    </div>


    <!-- Form -->
    <div class="container">

      <div class="row">

          <div class="col-xl-4 col-lg-4"></div>
          
          <body>
          Beer taster is a way to find beers that have similar flavors to those 
          you already love. By using natural language processing it allows the user
          to enter in flavors or characteristics that they're looking for, or not 
          looking for, and get back a list of the most similar beers according to
          their description.
          
          This approach helps users both find flavors they like in other beer styles,
          while also letting them find specific flavors within a style.
          
          
          </body>


          <div class="col-xl-4 col-lg-4"></div>

      </div>

      <div class"row top5">

        <div class="col-xl-4 col-lg-4"></div>


        <div class="col-xl-4 col-lg-4"></div>

      </div>



  <!-- </div> -->


</body>

<script type="text/javascript" src="/static/js/index.js"></script>


{% endblock %}
